:root {
  --main-color: #486fff;
  --main-color-hover: #4366e8;
  --main-bg-color: #312f2e !important;
  --secondary-bg-color: #21201d !important;
  --text-color: #fff !important;
}

html, body {
  background-color: var(--main-bg-color) !important;
  color: var(--text-color) !important;
  padding-top: 10px;
}

a {
  color: var(--main-color) !important;
  cursor: default !important;
}

a.clickable:hover {
  color: var(--main-color-hover) !important;
  cursor: pointer !important;
}

.add-dataset-btn {
  width: 100%;
  height: 48px;
  padding-top: 10px;
  background-color: var(--secondary-bg-color);
  color: var(--main-color);
  opacity: 0.7;
}
.add-dataset-btn:hover {
  width: 100%;
  height: 48px;
  padding-top: 10px;
  background-color: var(--secondary-bg-color);
  color: var(--main-color);
  opacity: 1.0;
}

.add-annotation-btn {
  width: 100%;
  height: 48px;
  padding-top: 10px;
  background-color: var(--secondary-bg-color);
  color: var(--main-color);
  opacity: 0.6;
}

.add-annotation-btn:hover {
  width: 100%;
  height: 48px;
  padding-top: 10px;
  background-color: var(--secondary-bg-color);
  color: var(--main-color);
  opacity: 1.0;
}

.footer > p {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0.5;
  text-align: center;
}

.modal {
  display: unset;
}

.modal-backdrop {
  background-color: rgba(0,0,0,0.4);
  height: 100%;
  width: 100%;
  position: absolute;
}

.modal-dialog {
  background-color: var(--main-bg-color);
  margin: auto;
  z-index: 1060;
  pointer-events: unset;
}

.modal-full .modal-title {
  margin-top: 20px;
}

.modal-title {
  opacity: 0.2 !important;
  margin-bottom: 30px;
}

.modal-sm .modal-input {
  margin: auto;
  outline: none;
  width: 80%;
  margin-left: 10%;
  color: var(--text-color) !important;
  padding-left: 10px;
  background: var(--secondary-bg-color);
  border: none;
  height: 38px;
}

.modal-sm {
  width: 90%;
  height: 200px;
  margin-top: 200px;
  padding: 15px;
}

.modal-full {
  max-width: unset;
  width: 100%;
  height: 100%;
}

.modal-full .modal-input {
  width: 100%;
  padding-left: 10px;
  background: var(--secondary-bg-color);
  outline: none;
  border: none;
  margin-top: 10px;
  color: var(--text-color) !important;
  height: 38px;
  margin-left: auto;
  margin-right: auto;
}

.modal-full .row {
  width: 80%;
  margin-left: 0%;
  margin-right: 0%;
  margin: auto;
}

.modal-full .modal-reg {
  height: 100%;
}

.modal-bottom {
  position: absolute;
  bottom: 0;
  width: calc(100% - 30px);
}

.modal-full .modal-bottom {
  margin-bottom: 40px;
}

.red {
  color: #ff0000;
}

.dataset-item {
  height: 60px;
  width: 90%;
  margin: auto;
  background-color: var(--secondary-bg-color);
  margin-top: 15px;
  padding: 19px;
  opacity: 0.7;
}

.dataset-item:hover {
  opacity: 1.0;
}

.dataset-item .dataset-key {
  color: #777 !important;
}

.dataset-title {
  font-size: 18pt;
  margin-bottom: 20px;
}


.annotation-item {
  height: 60px;
  width: 90%;
  margin: auto;
  background-color: var(--secondary-bg-color);
  margin-top: 15px;
  padding: 19px;
  opacity: 0.7;
}

.annotation-item:hover {
  opacity: 1.0;
}

.annotation-item .annotation-segment {
  color: #777 !important;
}

.lyrics {
  margin: auto;
  background-color: var(--secondary-bg-color);
  margin-top: 20px;
  height: 100%;
  outline: none;
}

.back-btn {
  margin-right: 20px;
}